<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" data-toggle="collapse" class="navbar-toggle">
				<span class="sr-only">toggle</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Angular2</a>
		</div>
		<div class="collapse navbar-collapse" id="exmaple-navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#">angular2</a></li>
				<li><a href="#">angular2</a></li>
				<li><a href="#">angular2</a></li>
				<li><a href="#">angular2</a></li>
			</ul>
		</div>
	</div>
</nav>